.heading{
    font-style: italic;
    margin-top: 30px;
}

.table{
    border: 2px solid #ddd;
    margin-top: 50px;
    padding: 50px;
    display: inline-block;
    background-color:rgb(196, 151, 159) ;
}

.msg{
    color: red;
    margin-top: 20px;
    font-weight: 600;
}